:root {
  --pointer-size: 200px;
}


.home {
  position: relative;
  overflow: hidden;
  background-color: var(--bg-dark);
  color: var(--text-light);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  z-index: 0;
}


.animated-bg::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: radial-gradient(
    300px circle at var(--mouse-x) var(--mouse-y),
    var(--pointer-light ) 1%,
    transparent 80%
  );
  z-index: 0;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0%, 100% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.6;
  }
}

.home-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  gap: 50px;
  flex-wrap: wrap;
  z-index: 2;
}

.profile-section {
  flex: 1 1 200px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  object-fit: cover;
  position: relative;
  z-index: 2;
  border: 6px solid var(--primary-color);
  box-shadow: 0 10px 25px var(--shadow);
  transition: transform 0.3s ease-in-out;
}

.profile-img:hover {
  transform: scale(1.05);
}


.profile-section::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 467px;
  height: 467px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background: conic-gradient(
    var(--primary-color) 20deg,
    transparent 450deg,
    var(--primary-color) 100deg,
    transparent 360deg
  );
  mask: radial-gradient(circle at center, transparent 60%, black 61%);
  animation: rotateRing 5s linear infinite;
  z-index: 1;
  opacity: 0.4;
  filter: blur(1px);
}

@keyframes rotateRing {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.content-section {
  flex: 2 1 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.name {
  font-size: 3rem;
  color: var(--primary-color);
  font-weight: bold;
  animation: slideIn 2s ease-out;
}

h1, h2, p {
  margin: 0;
}

.btn-home {
  display: inline-block;
  padding: 12px 12px;
  background: rgba(255, 255, 255, 0.152);
  color: var(--text-light);
  font-weight: bold;
  border-radius: 8px;
  margin: auto;
  margin-left: 0px;
  box-shadow: 0 1px 10px rgba(0, 255, 0, 0.116);
  transition: transform 0.3s, box-shadow 0.3s;
}

.btn-home:hover {
  transform: translateY(-3px);
  box-shadow: var(--shadow);
}

.social-icons-vertical {
  position: fixed;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 16px;
  z-index: 2;
}

.social-icons-vertical a {
  font-size: 1.8rem;
  color: var(--text-light);
  transition: color 0.3s ease, transform 0.3s;
}

.social-icons-vertical a:hover {
  color: var(--primary-color);
  transform: scale(1.2);
}

@keyframes slideIn {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .home-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .profile-img {
    width: 200px;
    height: 200px;
  }

  .profile-section::before {
    width: 230px;
    height: 230px;
  }

  .social-icons-vertical {
    right: 5px;
  }
}
