.typing-logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background: transparent;
}

.typing-logo-text {
  font-size: 1.2rem;
  font-weight: 700;
  font-family:'Cinzel Decorative';
  color: var(--text-muted, #00ffd5);
  letter-spacing: 2px;
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
